<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.techbros.traine">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/traine_e_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="TrainEApp"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".TrainingSimulationActivity5"
            android:label="@string/title_activity_training_simulation5"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".TrainingSimulationActivity4"
            android:label="@string/title_activity_training_simulation4"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TrainingSimulationActivity3"
            android:label="@string/title_activity_training_simulation3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TrainingSimulationActivity2"
            android:label="@string/title_activity_training_simulation2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TrainingSimulationActivity"
            android:label="@string/title_activity_training_simulation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainMenu"
            android:label="@string/title_activity_main_menu"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.techbros.traine.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>